# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directory
node_modules

# Build output
dist
dist-ssr

# Local env files
*.local
.env
.env.*
.env.local
.env.development
.env.production

# Vite cache
.vite/

# Tailwind cache
.tailwind-cache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional tooling
.cache/
.cache-loader/

# OS metadata
Thumbs.db
